
@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),  url('SourceSansPro-SemiBold.woff') format('woff'), url('SourceSansPro-SemiBold.ttf')  format('truetype'), url('SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
